.login_page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login_page {
    padding: 40px 0;
    margin: 40px 0;
}

.login_page form {
    border: 1px solid;
    padding: 50px 0;
    border-radius: 40px;
    background-color: #ccc;
}

.login_page form .row button {
    padding: 8px 10px;
    margin-top: 6px;
}

